* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.menu {
  width: 100%;
  height: 80px;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative; }
  .menu .menutitulo {
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 2rem;
    width: 30%;
    margin-top: 16px;
    justify-content: center;
    align-items: center; }
    .menu .menutitulo:hover {
      color: #cecece; }
  .menu .enlaces {
    list-style-type: none;
    background-color: black;
    font-family: 'Oswald', sans-serif;
    margin: 25px 50px; }
    .menu .enlaces li {
      display: inline-block;
      text-align: center;
      justify-content: center;
      margin: 5px 10px;
      background-color: black; }
      .menu .enlaces li:hover {
        color: black;
        background-color: #d8d8d8; }
      .menu .enlaces li a {
        text-align: center;
        justify-items: center;
        text-decoration: none;
        display: inline-block;
        color: white;
        font-size: 1rem; }
        .menu .enlaces li a:hover {
          color: black; }

footer {
  background-color: #cecece; }
  footer h4 {
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    margin: 0;
    padding: 1rem;
    text-align: center; }
  footer p {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    margin: 0;
    padding: 1rem;
    text-align: center; }

.footerAbajo {
  background-color: #cecece;
  position: absolute;
  bottom: 0;
  width: 100%; }

/* PERSONALIZANDO MAIN DE INDEX */
.contenedor {
  display: grid;
  gap: 20px;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr, 1fr, 1fr;
  grid-template-areas: " a " " b " " c "; }
  .contenedor img {
    width: 600px;
    height: 750px;
    border: double 5px;
    padding: 0;
    margin-top: 100PX; }
    .contenedor img:hover {
      transform: scale(1.2); }
  .contenedor .img a {
    grid-area: a; }
  .contenedor .img b {
    grid-area: b; }
  .contenedor .img c {
    grid-area: c; }

/* PERSONALIZANDO MAIN DE GALERIA */
.container {
  margin: 50px;
  display: grid;
  grid-template-areas: "a b" "a c" "a d";
  grid-template-rows: 1fr, 1fr, 1fr;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 10px;
  grid-column-gap: 10px; }
  .container .A {
    grid-area: a; }
    .container .A img {
      height: 780px;
      border: double 5px;
      padding: 0; }
      .container .A img:hover {
        transform: scale(1.1); }
  .container .B {
    grid-area: b; }
    .container .B img {
      height: 250px;
      width: 80%;
      border: double 5px;
      padding: 0;
      object-fit: cover; }
      .container .B img:hover {
        transform: scale(1.1); }
  .container .C {
    grid-area: c; }
    .container .C img {
      height: 250px;
      width: 80%;
      border: double 5px;
      padding: 0;
      object-fit: cover; }
      .container .C img:hover {
        transform: scale(1.1); }
  .container .D {
    grid-area: d; }
    .container .D img {
      height: 250px;
      width: 80%;
      border: double 5px;
      padding: 0;
      object-fit: cover; }
      .container .D img:hover {
        transform: scale(1.1); }

/* PERSONALIZANDO MAIN DE REGISTRO */
.registro {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  font-family: 'Oswald', sans-serif;
  padding: 1rem;
  font-weight: bold;
  font-style: italic;
  color: black; }
  .registro h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    text-align: center;
    margin: 1rem;
    padding: 1rem; }
  .registro p {
    font-family: 'Oswald', sans-serif; }

/* PERSONALIZANDO MAIN DE CONTACTO */
.contacto {
  list-style-type: none;
  margin: 10px;
  padding: 20px;
  font-family: 'Oswald', sans-serif;
  font-weight: bold; }
  .contacto h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    text-align: center;
    margin: 1rem;
    padding: 1rem; }

/* PERSONALIZANDO MAIN DE PREGUNTAS */
.preguntas h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
  text-align: center;
  margin: 1rem;
  padding: 1rem; }

.preguntas h6 {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 1rem;
  margin: 1rem;
  padding: 0 2rem; }

.preguntas p {
  font-family: 'Oswald', sans-serif;
  margin: 2;
  padding: 0 3rem; }

.preguntas .tabla {
  padding: 3rem; }
